/* generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.cf::after {
    content:"";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}



/* header */
header {
    height: 65px;
    line-height: 65px;
}

#logo {
    float: left;
}

#logo img {
    margin: 20px 30px 20px 20px;
}

header nav#menù-sx {
    float: left;
}

header nav#menù-dx {
    float: right;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 16px;
    color: black
}

.button {
    background-color: #0061FF;
    padding: 9px 20px;
    color: white;
}




/* main */

/* jumbotron */
#jumbotron {
    background-color: #B4D0E7;
    height: 800px;
}

#jumbo-title {
    float: left;
    font-size: 42px;
    width: 80%;
    margin: 75px 0 0 0
}

#jumbo-main-text {
    float: left;
    width: 21%;
    margin: 50px 0 0 175px;
    font-weight: 400;
}

#jumbo-main-text p {
    margin-bottom: 35px;
}

#jumbo-btn {
    margin-bottom: 20px;
}

.fa-arrow-down {
    font-size: 50px;
}

#jumbo-img {
    float: left;
    margin-top: 50px;
    margin-left: 115px;
}

#jumbo-img img {
    height: 510px;
}




/* sections */
main section {
    width: 75%;
    margin: auto;
}

.section-100-width {
    width: 100%;
}

#abbonamenti {
    /* debug */
    background-color: blue;
    height: 200px;
}

#contatta-partner {
    /* debug */
    background-color: green;
    height: 200px;
}

#più-operazioni {
    /* debug */
    background-color: orange;
    height: 200px;
}

#team-dp-business {
    /* debug */
    background-color: yellow;
    height: 200px;
}

#freetrial-dp-business {
    /* debug */
    background-color: chartreuse;
    height: 200px;
}

#QnA {
    /* debug */
    background-color: pink;
    height: 200px;
}

/* footer */
footer {
    /* debug */
    background-color:black;
    height: 200px;
}