/* generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.cf::after {
    content:"";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}



/* header */
header {
    height: 65px;
    line-height: 65px;
    position: fixed;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #D0D0D3;
}

#logo {
    float: left;
}

#logo img {
    margin: 20px 30px 20px 20px;
}

header nav#menù-sx {
    float: left;
}

header nav#menù-dx {
    float: right;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 16px;
    color: black
}

.button {
    background-color: #0061FF;
    padding: 9px 20px;
    color: white;
}





/* main */

/* jumbotron */
#jumbotron {
    background-color: #B4D0E7;
    height: 800px;
    margin-bottom: 200px;
}

#jumbo-title {
    float: left;
    font-size: 42px;
    width: 80%;
    margin: 75px 0 0 170px;
}

#jumbo-main-text {
    float: left;
    width: 21%;
    margin: 50px 0 0 175px;
}

#jumbo-main-text p {
    margin-bottom: 35px;
}

#jumbo-btn {
    margin-bottom: 20px;
}

.fa-arrow-down {
    font-size: 50px;
}

#jumbo-img {
    float: left;
    margin-top: 50px;
    margin-left: 115px;
}

#jumbo-img img {
    height: 510px;
}




/* sections */
main section {
    width: 75%;
    margin: auto;
}

.section-100-width {
    width: 100%;
}




/* sezione abbonamenti */
#subs-title {
    margin-bottom: 40px;
}


#subs-title h2{
    font-size: 45px;
}

#subs-section input:last-of-type {
    margin-left: 10px;
}

#subs {
    margin: 35px 0;
}

/* colonne */
#subs .col {
    float: left;
    width: 30%;
    border: 2px solid #D0D0D3;
    height: 1100px;
}

#subs .col-middle {
    margin: 0 5%;
}

.sub-target {
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid #D0D0D3;
    padding: 5px 0;
}

.allineamento-text-sub {
    width: 80%;
    margin: 20px auto 0 auto;
}

#subs h3 {
    font-size: 33px;
    margin-bottom: 15px;
} 

#subs h4.price {
    font-weight: 700;
    font-size: 22px;
    width: 100%;
    margin-bottom: 15px;
}

.durata-sub {
    color: #637381;
}

.info-sub {
    margin-top: 40px;
}

.info-sub ul {
    list-style-type: none;
}

.info-sub ul li {
    margin-top: 25px;
    font-size: 20px;
}

.button-free-trial {
    margin-top: 70px;
    margin-bottom: 45px;
    text-align: center;
}

.button-free-trial .button {
    padding: 9px 73px;
}

#subs a.acquista-ora {
    text-decoration: underline;
    color: #0061FF;
}

.border-bottom {
    position: relative;

}

.border-bottom span {
    padding-bottom: 30px;
    display: block;
}

.border-bottom::after {
    content:"";
    position:absolute;
    left: 0;
    bottom: 0;
    border: 1px solid #ccc;
    width: 15%;
}

.punti-salienti-sub {
    margin-top: 40px;
}

.punti-salienti-sub h4 {
    font-size: 19px;
}

.punti-salienti-sub ul {
    list-style-type: none;
}

.punti-salienti-sub ul li:not(:first-child) {
    list-style-type: "\2713";
}

::marker {
    font-size: 20px;
    color: #0061FF;
}

.punti-salienti-sub ul li {
    margin-bottom: 22px;    
}

/* bottom box */
#bottom-box {
    width: 100%;
    border: 1px solid #D0D0D3;
    margin-top: 30px;
}

#bottom-box-allineamento-content {
    width: 90%;
    margin: 10px auto;
}

#bottom-box-text {
    float: left;
}

#bottom-box h4 {
    margin-top: 20px;
    margin-bottom: 30px;
}

#bottom-box-btn  {
    float: right;
    margin-top: 19px;
}

#bottom-box-btn .button {
    padding: 9px 60px;
}




/* sezione contatta partner */
#contatta-partner {
    margin-top: 140px;
    margin-bottom: 140px;
}

#contatta-partner .col {
    float: left;
}

#contatta-partner .col-sx {
    width: 50%;
    margin-right: 5%;
}

#contatta-partner .col-sx img {
    width: 100%;
}

#contatta-partner .col-dx {
    width: 45%;
}

#contatta-partner .col-dx h3 {
    font-size: 39px;
    margin: 50px 0;
}

#contatta-partner .col-dx p {
    line-height: 36px;
    font-size: 22px;
    margin-bottom: 30px;
}

#contatta-partner .col-dx .button {
    border: 1px solid black;
    background-color: white;
    color: black;
}




/* sezione più operazioni */
#più-operazioni {
    margin-bottom: 250px;
}

#più-operazioni .row:first-of-type {
    margin-top: 50px;
    margin-bottom: 90px;
}


#più-operazioni h2 {
    font-size: 45px;;
}

#più-operazioni .col {
    width: 30%;
    float: left;
}

#più-operazioni .col-middle {
    margin: 0 5%;
}

#più-operazioni .col img {
    width: 100%;
}

#più-operazioni .col h3 {
    font-size: 32px;
}

#più-operazioni .col p {
    line-height: 22px;
}






/* sezione team dropbox business */
#team-dp-business {
    /* debug */
    background-color: yellow;
    height: 200px;
}




/* sezione free trial dropbox business */
#freetrial-dp-business {
    /* debug */
    background-color: chartreuse;
    height: 200px;
}




/* sezione q&a */
#QnA {
    /* debug */
    background-color: pink;
    height: 200px;
}

/* footer */
footer {
    /* debug */
    background-color:black;
    height: 200px;
}