/* generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}







/* header */
header {
    height: 65px;
    line-height: 65px;
}

#logo {
    float: left;
}

#logo img {
    margin: 20px 30px 20px 20px;
}

header nav#men첫-sx {
    float: left;
}

header nav#men첫-dx {
    float: right;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 16px;
    text-decoration: none;
    color: black
}

header nav#men첫-dx ul li:last-child a {
    background-color: #0061FF;
    padding: 9px 20px;
    color: white;
}




/* main */

/* jumbotron */
#jumbotron {
    background-color: #B4D0E7;
    height: 600px;
}

main section {
    width: 75%;
    margin: auto;
}

.section-100-width {
    width: 100%;
}

#abbonamenti {
    /* debug */
    background-color: blue;
    height: 200px;
}

#contatta-partner {
    /* debug */
    background-color: green;
    height: 200px;
}

#pi첫-operazioni {
    /* debug */
    background-color: orange;
    height: 200px;
}

#team-dp-business {
    /* debug */
    background-color: yellow;
    height: 200px;
}

#freetrial-dp-business {
    /* debug */
    background-color: chartreuse;
    height: 200px;
}

#QnA {
    /* debug */
    background-color: pink;
    height: 200px;
}

/* footer */
footer {
    /* debug */
    background-color:black;
    height: 200px;
}